*{
    outline: none;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
}
body{
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
}

header{
    background-color: blueviolet;
    margin: 0 auto;
    height: 100px;
    padding-top: 0.90%;
    padding-left: 8%;
    padding-right: 6%;
    padding-bottom: 20px;
    font-size: 17px;
}

header .first{
    display: flex;
}

header .first a{
    color: white;
    font-size: 8pt;
    height: 20px;
    margin-right: 25px;
}

header .first a:hover{
    color: white;
    font-size: 8pt;
    height: 20px;
    margin-right: 25px;
    text-decoration: underline;
}

header .second{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .second a{
    color: white;
}

header .second h3{
    font-size: 32px
}

header input[type=search]{
    width: 900px;
    height: 35px;
    margin-left: 100px;
    border-radius: 5px;
    outline: 1;
    outline-color: blueviolet;
    border: none;
}

header input[type=submit] {
    width: 80px;
    height: 35px;
    margin-right: 140px;
    margin-left: -90px;
    font-size: 14px;
    color: white;
    background-color: rgb(78, 0, 151);
    border: none;
    outline: none;
    border-top-left-radius: 20px;
    transition: 150ms;
}

header input[type=submit]:hover{
    cursor:pointer;
    background-color: rgb(78, 0, 151);
    padding-right: 10px;
    border-bottom-left-radius: 20px;
    color: whitesmoke;
    font-size: 16px;
    transition: 150ms;
}


header .second img{
    margin-right: 20%;
    height: 45px;
}

header .second img:hover{
    background-color:white;
    border-radius: 25px;
    height: 45.5px;
}


main .container{
    margin-top: 3%;
    padding-top: 10px;
    margin-left: 8%;
    margin-right: 7%;
    background-color:rgb(248, 247, 240);
    height: 75vh;
    color: blueviolet;
}

main .container{
    margin-top: 3%;
    padding-top: 10px;
    margin-left: 8%;
    margin-right: 7%;
    background-color:rgb(248, 247, 240);
    height: 75vh;
    color: blueviolet;
}

main .fixed{
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
}


div .container-geral{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.grid-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-one img {
    width: 18vw;
    height: 24vh;
    border-radius:10px;
}

.status-container {
    width: 25%;
}

.status-container h2 {
    margin-bottom: 0;
}

.status-container i {
    margin-top: 1px;
}

.status-container h4 {
    margin-bottom: 0;
}

.status-container p{
    margin-top: 3px;
}

.status-container button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: blueviolet;
    width: 370px;
    height: 30px;
    font-size: 18px;
}

.status-container button:hover{
    cursor: pointer;
    background-color: rgb(172, 172, 172);
    color: white;
}

.grid-two{
    align-items: center;
    justify-content: right;
    margin-left: 85%;
}

.preco-container h4{
    margin-bottom: 0;
}

.preco-container h2{
    margin-top: 0;
}
